SECRET_KEY=change-me
DEBUG=True
DATABASE_URL=postgresql://postgres:password@localhost:5432/bszone
FRONTEND_URL=http://localhost:3000
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:3000
